.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-between {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-primary {
    width: 100%;
    background: var(--color-bg-reverse);
    font-weight: 590;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: center;
    color: var(--color-text-reverse);
    padding: 14px 0;
    border-radius: 12px;
}

.button-secondary {
    width: 100%;
    background:  var(--color-bg-secondary);
    font-weight: 590;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: center;
    color: var(--color-text);
    padding: 14px 0;
    border-radius: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 12px 0;
}

.header path {
    fill: var(--color-text);
}

.header h1 {
    font-weight: 590;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.38px;
}